In [1]:
! pip install folium
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
import geojson
import geopandas as gpd
pop_by_month = pd.read_csv("CampPopulationsByMonth.csv", error_bad_lines = False)
relocations_states = pd.read_csv("RelocationDestinations_States.csv", error_bad_lines = False)
pop_1940_to_1945 = pd.read_csv("JapaneseAmericanPopulation_1940_1945.csv", error_bad_lines = False)
relocations_cities = pd.read_csv("RelocationDestinations_Cities.csv", error_bad_lines = False)

Requirement already satisfied: folium in /srv/app/venv/lib/python3.6/site-packages
Requirement already satisfied: branca>=0.3.0 in /srv/app/venv/lib/python3.6/site-packages (from folium)
Requirement already satisfied: requests in /srv/app/venv/lib/python3.6/site-packages (from folium)
Requirement already satisfied: numpy in /srv/app/venv/lib/python3.6/site-packages (from folium)
Requirement already satisfied: jinja2>=2.9 in /srv/app/venv/lib/python3.6/site-packages (from folium)
Requirement already satisfied: six in /srv/app/venv/lib/python3.6/site-packages (from branca>=0.3.0->folium)
Requirement already satisfied: certifi>=2017.4.17 in /srv/app/venv/lib/python3.6/site-packages (from requests->folium)
Requirement already satisfied: idna<2.9,>=2.5 in /srv/app/venv/lib/python3.6/site-packages (from requests->folium)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /srv/app/venv/lib/python3.6/site-packages (from requests->folium)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /srv/app/venv/lib/python3.6/site-packages (from requests->folium)
Requirement already satisfied: MarkupSafe>=0.23 in /srv/app/venv/lib/python3.6/site-packages (from jinja2>=2.9->folium)

In [2]:
#Might still be able to be used for list of names?
og_data = pd.read_csv("japanese-internees-list.csv", error_bad_lines = False, names = ["Surname", "First Name", "Data"])
og_data.head()

    Surname First Name                                               Data
0   KAHASHI      TAKEO  401121315&000  172X33001A2714128H5Z309736   04...
1      ZUKI     CHIEKO  0071--011&000--000X0H186 6429710P6Z      057  ...
2  A AS IMA      M SAO  5 115241&&41014685X12152A2797969V7Z309631   38...
3     AKASA      AKIRA  3B1301346&000--000X23217D1434130L9Z           ...
4       ATO  SHIGEKO J  111301515-000  111X03092E642813&Q6Z           ...

In [3]:
#Camp Populations by month 
#We can see when camps closed/opened based on where the zeros start
#Date of first of the month with the total populations over time
#Line plot could be useful
#Data collected at beginning of month?
pop_by_month = pd.read_csv("CampPopulationsByMonth.csv", error_bad_lines = False)
pop_by_month

,Date,Total,Topaz/Central Utah,Poston/Colorado River,Gila River,Granada,Heart Mountain,Jerome,Manzanar,Minidoka,Rohwer,Tule Lake
0,06/01/1942,"17,393",0,"7,281",0,0,0,0,"9,666",0,0,446
1,07/01/1942,"27,633",0,"8,755",0,0,0,0,"9,840",0,0,"9,038"
2,08/01/1942,"40,316",0,"13,262","2,106",0,0,0,"9,928",0,0,"15,020"
3,09/01/1942,"63,031",0,"17,818","9,150",212,"5,758",0,"10,072","4,840",0,"15,181"
4,10/01/1942,"90,499","5,806","17,847","11,555",7480,"10,813",0,"10,256","9,200","2,265","15,277"
5,11/01/1942,"109,192","8,320","17,877","13,368",7654,"11,107","7,039","10,181","9,846","8,407","15,393"
6,12/01/1942,"110,160","8,294","17,965","13,368",7651,"11,105","7,925","10,177","9,849","8,515","15,311"
7,01/01/1943,"110,240","8,232","8,039","13,420",7656,"11,062","7,932","10,121","9,861","8,548","15,369"
8,02/01/1943,"110,353","8,214","18,025","13,411",7622,"11,006","8,354","10,079","9,814","8,538","15,274"
9,03/01/1943,"110,181","8,152","17,984","13,374",7619,"10,959","8,587","9,796","9,924","8,528","15,219"
10,04/01/1943,"109,648","8,332","17,941","13,372",7476,"10,886","8,526","9,707","9,772","8,478","15,124"
11,05/01/1943,"107,693","8,189","17,741","13,224",7222,"10,724","8,350","9,496","9,401","8,286","15,015"
12,06/01/1943,"105,300","8,018","17,406","12,954",7016,"10,520","8,182","9,272","8,989","8,061","14,828"
13,07/01/1943,"103,282","7,862","16,995","12,683",6931,"10,307","7,972","9,197","8,752","7,895","14,630"
14,08/01/1943,"101,937","7,809","16,671","12,542",3876,"10,178","7,808","9,163","8,556","7,781","14,484"
15,09/01/1943,"99,927","7,682","16,279","12,251",6764,"10,073","7,649","9,105","8,325","7,552","14,185"
16,10/01/1943,"98,529","7,608","16,013","12,056",7494,"10,509","6,899","9,045","9,530","7,123","12,183"
17,11/01/1943,"97,539","7,554","14,470","10,017",7368,"10,426","6,787","8,701","9,419","6,731","16,012"
18,12/01/1943,"96,963","7,585","14,372","9,898",7393,"10,406","6,726","8,621","9,492","6,676","15,671"
19,01/01/1944,"96,576","7,559","14,295","9,869",7355,"10,388","6,700","8,643","9,461","6,676","15,630"
20,02/01/1944,"95,576","7,438","14,109","9,800",7176,"10,242","6,632","8,580","9,374","6,600","15,625"
21,03/01/1944,"94,462","7,350","13,876","9,655",6983,"10,112","6,537","6,655","9,288","6,514","17,492"
22,04/01/1944,"92,923","7,227","13,453","9,419",6786,"9,962","6,529","6,565","9,027","6,375","17,580"
23,05/01/1944,"90,960","7,084","13,241","9,199","6,685","9,760","6,467","6,456","8,856","6,248","16,964"
24,06/01/1944,"89,119","6,879","13,021","8,788","6,424","9,420","5,601","6,341","8,514","5,479","18,652"
25,07/01/1944,"87,383","6,727","12,725","10,531","6,816","9,712",4,"6,232","8,335","7,623","18,678"
26,08/01/1944,"85,816","6,621","12,517","10,291","6,664","9,433",4,"6,138","8,160","7,279","18,709"
27,09/01/1944,"84,046","6,426","12,152","9,951","6,490","9,241",4,"6,057","8,099","6,900","18,726"
28,10/01/1944,"82,834","6,280","12,059","9,651","6,403","9,035",3,"5,939","7,972","6,764","18,728"
29,11/01/1944,"82,046","6,125","11,881","9,550","6,371","8,886",3,"5,836","7,976","6,700","18,718"
30,12/01/1944,"81,288","6,026","11,751","9,534","6,311","8,669",3,"5,668","7,867","6,689","18,770"
31,01/01/1945,"80,878","5,984","11,710","9,550","6,255","8,537",3,"5,588","7,770","6,747","18,734"
32,02/01/1945,"79,805","5,883","11,480","9,432","6,177","8,445",2,"5,522","7,574","6,697","18,593"
33,03/01/1945,"77,774","5,742","11,251","9,207","6,035","8,213",2,"5,435","7,373","6,563","17,953"
34,04/01/1945,"75,559","5,589","10,828","8,988","5,805","7,997",0,"5,298","6,851","6,339","17,864"
35,05/01/1945,"72,806","5,413","10,421","8,716","5,411","7,556",0,"5,030","6,382","5,991","17,886"
36,06/01/1945,"69,126","5,165","9,979","8,319","4,980","7,084",0,"4,658","5,615","5,447","17,879"
37,07/01/1945,"63,857","4,645","9,386","7,684","4,256","6,325",0,"4,248","4,937","4,910","17,466"
38,08/01/1945,"58,951","4,176","8,750","6,765","3,758","5,714",0,"3,994","4,330","4,098","17,366"
39,09/01/1945,"50,462","3,339","6,828","5,141","3,155","4,611",0,"3,552","3,218","3,332","17,286"
40,10/01/1945,"35,368","1,899","2,730","2,760","1,379","3,312",0,"2,891","1,482","2,175","16,740"
41,11/01/1945,"21,398",0,"1,088",754,0,"1,156",0,"1,146",0,"1,804","15,450"
42,12/01/1945,"12,628",0,0,0,0,0,0,0,0,0,"12,628"
43,01/01/1946,"7,303",0,0,0,0,0,0,0,0,0,"7,303"
44,02/01/1946,"5,046",0,0,0,0,0,0,0,0,0,"5,046"
45,03/01/1946,"2,808",0,0,0,0,0,0,0,0,0,"2,808"

In [4]:
pd.read_csv("RelocationDestinations_States.csv", error_bad_lines = False).head()

        State  People
0     Alabama       4
1     Arizona     818
2    Arkansas     161
3  California   43775
4    Colorado    6108

In [5]:
#Use in conjuction with relocation Destinations to track movement
pd.read_csv("JapaneseAmericanPopulation_1940_1945.csv", error_bad_lines = False).head()

      County State  1940  1945  % returned
0    Alameda    CA  5167  2703        52.3
1     Amador    CA     2     0         0.0
2      Butte    CA   216   107        49.5
3  Calaveras    CA     6     0         0.0
4     Colusa    CA   155    48        31.0

In [6]:
pd.read_csv("RelocationDestinations_Cities.csv", error_bad_lines = False).head()

       City State  People
0  Glendale    AZ     487
1   Alameda    CA     211
2   Berkely    CA     844
3   Burbank    CA     228
4    Dinuba    CA     201

In [7]:
pd.read_csv('BehindBarbedWire_StoryMap_AssemblyCentersMap_Data.csv', error_bad_lines = False)

,Location,State,Number of People,Latitude,Longitude,Notes
0,Sacramento (Walerga),California,4598,38.566700,-121.483300,NaN
1,None,NaN,20138,NaN,NaN,Represents individuals taken directly to Inter...
2,Manzanar (Up to 6/1/42),California,9564,36.728333,-118.154444,"Manzanar served as an ""Assembly Center"" until ..."
3,Fresno,California,5069,36.733300,-119.766700,NaN
4,Marysville (Arboga),California,2406,39.050000,-121.550050,NaN
5,Mayer,Arizona,249,34.383300,-112.233300,NaN
6,Merced,California,4081,37.300000,-120.466700,NaN
7,Pinedale,California,4664,36.840000,-119.800000,NaN
8,Pomona,California,5272,34.050000,-117.750000,NaN
9,Portland (Pacific Int. Exposition Ground),Oregon,3667,45.516700,-122.666700,NaN
10,Puyallup,Washington,7348,47.183300,-122.283300,NaN
11,Salinas,California,3555,36.666700,-121.650000,NaN
12,Santa Anita,California,18424,34.133300,-118.033300,NaN
13,Stockton,California,4178,37.950000,-121.283300,NaN
14,Tanforan,California,7694,37.616700,-122.400000,NaN
15,Tulare,California,4915,36.200000,-119.333300,NaN
16,Turlock,California,3553,37.483300,-120.833300,NaN

In [20]:
m = folium.Map(location=[36.733300, -119.766700], zoom_start = 5)
tooltip = 'Click me!'
n = folium.Marker([36.728333, -118.154444], popup='<i>Mt. Hood Meadows</i>', tooltip='Manzanar').add_to(m)
n = folium.Marker([36.733300, -119.766700], popup='<i>Mt. Hood Meadows</i>', tooltip='Fresno').add_to(m)
n = folium.Marker([34.383300, -112.233300], popup='<i>Mt. Hood Meadows</i>', tooltip='Mayer, AZ').add_to(m)
n = folium.Marker([39.050000, -121.550050], popup='<i>Mt. Hood Meadows</i>', tooltip='Marysville (Arboga)').add_to(m)
n = folium.Marker([37.300000, -120.466700], popup='<i>Mt. Hood Meadows</i>', tooltip='Merced').add_to(m)
n = folium.Marker([34.383300, -112.233300], popup='<i>Mt. Hood Meadows</i>', tooltip='Pinedale').add_to(m)
n = folium.Marker([34.050000, -117.750000], popup='<i>Mt. Hood Meadows</i>', tooltip='Pomona').add_to(m)
n = folium.Marker([45.516700, -122.666700], popup='<i>Mt. Hood Meadows</i>', tooltip='Portlan, OR').add_to(m)
n = folium.Marker([45.516700, -122.666700], popup='<i>Mt. Hood Meadows</i>', tooltip='Portlan, OR').add_to(m)
n = folium.Marker([45.516700, -122.666700], popup='<i>Mt. Hood Meadows</i>', tooltip='Portlan, OR').add_to(m)
n = folium.Marker([45.516700, -122.666700], popup='<i>Mt. Hood Meadows</i>', tooltip='Portlan, OR').add_to(m)
m